[Unit]
Description=Docker Compose
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /path/to/your/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /path/to/your/docker-compose.yml down
WorkingDirectory=/path/to/your/project

[Install]
WantedBy=default.target


# sudo cp docker-compose.service /etc/systemd/system/
# sudo systemctl enable docker-compose
# sudo systemctl start docker-compose
